<div class="sixteen columns header-table">
  <div class="four columns rate">
    <h4>Unemployment Rate</h4>
    <p>{{format-percent unemploymentRate}}</p>
  </div>
  <div class="four columns employed">
    <h4>Total Employed</h4>
    <p>{{totalEmployed}}</p>
  </div>
  <div class="four columns unemployed">
    <h4>Total Unemployed</h4>
    <p>{{totalUnemployed}}</p>
  </div>
  <div class="four columns ineligible">
    <h4>Total Young or Institutionalized</h4>
    <p>{{totalYoungOrInstitutionalized}}</p>
  </div>
</div>

{{#each respondent in this}}
  {{respondent-row name=respondent.name card=respondent.card status=respondent.status}}
{{/each}}

<div class="sixteen columns button-bar">
  {{#if canRemoveRespondent}}<button {{action 'removeRespondent'}} class="secondary">Remove Last Respondent</button>{{/if}}
  <button {{action 'addRespondent'}}>Add Respondent</button>
</div>
